/* Reset básico de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: "DynaPuff", serif;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

/* GIF DE FUNDO */
.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fullscreen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Cabeçalho */
header {
    background-color: #343a40;
    color: white;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

/* Título principal */
h1 {
    color: black;
    font-size: 5rem;
    margin-bottom: 20px;
    font-family: 'New Walt Disney Font', sans-serif;
}

/* Contador de tempo */
#contador {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 20px;
}

#botao {
    background-color: rgb(212, 91, 182);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#botao:hover {
    background-color: #24292e;
}

#reiniciar {
    background-color: rgb(75, 163, 42);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: none;
}

#reiniciar:hover {
    background-color: #1d723c;
}

/* Quiz */
.quiz-content {
    text-align: center;
    margin: 20px;
}

#question-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:whitesmoke;
}

#answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answers-container button {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

#answers-container button:hover {
    background-color: #ddd;
}

/* Resultado Final */
#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: black;
}

#result.hidden {
    display: none;
}

#question-container.hidden {
    display: none;
}

/* Redes sociais */
#sociais {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

#sociais h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    font-family: 'New Walt Disney Font', sans-serif;
}

.redes-sociais-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    font-size: 2.5rem;
    color: #333;
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.linkedin {
    background-color: lightgreen;
    border: black solid;
}

.linkedin:hover {
    background-color: green;
}

.github {
    background-color: rgb(255, 255, 255);
    border: black solid;
}

.github:hover {
    background-color: #24292e;
}

.email {
    background-color: #d44638;
    border: black solid;
}

.email:hover {
    background-color: #bb2d3b;
}

.social-icon:hover {
    color: #fff;
}

/* Rodapé */
footer {
    background-color: #343a40;
    color: white;
    padding: 40px;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 1rem;
}
